# Based on Python package versions in Debian bullseye
# https://packages.debian.org/bullseye/python/
astroid==2.5.1 # via pylint
pylint==2.7.2
pytest-cov==2.10.1
pytest==6.0.2
httplib2==0.18.1
requests==2.25.1
yapf==0.30.0
