# Python files
__pycache__/
*.py[cod]

# Ignore build sandbox
/build_sandbox/

# Ignore downloaded Chromium source archives
/chromium-*.*.*.*.tar.xz
/chromium-*.*.*.*.tar.xz.hashes

# Ignore downloaded syzygy archive
/syzygy-*.tar.gz

# Ignore packages
/*.deb
/chromium-browser_*.changes
