# Python files
__pycache__/
*.py[cod]

# Ignore build sandbox
/build_sandbox/

# Ignore downloaded Chromium source archives
/chromium-*.*.*.*.tar.xz
/chromium-*.*.*.*.tar.xz.hashes

# Ignore packages
/*.deb
