# Python files
__pycache__/
*.py[cod]

# Ignore build directory
/build

# Ignore downloaded Chromium source archives
/chromium-*.*.*.*.tar.xz
/chromium-*.*.*.*.tar.xz.hashes

# Ignore downloaded syzygy archive
/syzygy-*.tar.gz

# Ignore macOS Finder meta
.DS_Store
.tm_properties