files
*.log
*.substvars

.debhelper
debhelper-build-stamp

ungoogled-chromium
ungoogled-chromium-l10n
ungoogled-chromium-shell
ungoogled-chromium-driver
ungoogled-chromium-common
ungoogled-chromium-sandbox

scripts/mk-origtargz
