#!/usr/bin/make -f

# enable verbose build messages
export DH_VERBOSE=1

# enable all build hardening flags
export DEB_BUILD_MAINT_OPTIONS=hardening=+all

# indicate that binary targets do not require root
export DEB_RULES_REQUIRES_ROOT=no

# use system LLVM via unbundling
export AR=llvm-ar-6.0
export NM=llvm-nm-6.0
export CC=clang-6.0
export CXX=clang++-6.0

# more verbose linker output
export LDFLAGS+=-Wl,--stats

# extra flags to reduce warnings that aren't very useful
export CXXFLAGS+=-Wno-unused-function \
                 -Wno-unused-variable \
                 -Wno-deprecated-declarations \

# ignore warnings for minor mistakes that are too common
export CXXFLAGS+=-Wno-return-type \

# set the appropriate cpu architecture
DEB_HOST_ARCH ?= $(shell dpkg-architecture -qDEB_HOST_ARCH)
ifeq (i386,$(DEB_HOST_ARCH))
defines+=host_cpu=\"x86\"
endif
ifeq (amd64,$(DEB_HOST_ARCH))
defines+=host_cpu=\"x64\"
endif
ifeq (arm64,$(DEB_HOST_ARCH))
defines+=host_cpu=\"arm64\"
endif
ifeq (armhf,$(DEB_HOST_ARCH))
defines+=host_cpu=\"arm\" arm_use_neon=false
endif

config_bundle=$(shell cat debian/ungoogled-config-bundle)

# add gn flags from config bundle
defines+=$(shell debian/scripts/get-gnargs-shell debian/scripts/ungoogled-chromium/config_bundles/$(config_bundle))

# some notes about embedded libraries
#  can't use system nss since net/third_party/nss is heavily patched
#  can't use system ots (open text *summarizer*) since that's not google's ots (open text *sanitizer*)

# handle parallel build options
njobs=1
ifneq (,$(filter parallel=%,$(DEB_BUILD_OPTIONS)))
njobs=$(patsubst parallel=%,%,$(filter parallel=%,$(DEB_BUILD_OPTIONS)))
endif

# paths to files needed by flot
flotpaths=/usr/share/javascript/jquery/*min.js \
          /usr/share/javascript/jquery-flot/*min.js \

%:
	dh $@

out/Default/gn:
	mkdir -p out/Default || true
	./tools/gn/bootstrap/bootstrap.py -o out/Default/gn -s -j$(njobs)

override_dh_auto_configure:
	# output compiler information
	$(CXX) --version
	# use system flot
	for file in $(flotpaths); do ln -sf $$file third_party/flot; done
	# put yasm script in the location expected by gn
	ln -sf ../pdfium/third_party/yasm/run_yasm.py third_party/yasm
	# strip out system third_party libraries
	./debian/scripts/unbundle
	# apply domain substitution
	if [ ! -e debian/scripts/ungoogled-chromium/domsubcache.tar.gz ]; then cd debian/scripts/ungoogled-chromium; python3 -m buildkit domains apply -b config_bundles/$(config_bundle) -c domsubcache.tar.gz ../../../; fi

override_dh_auto_build-arch: out/Default/gn
	./out/Default/gn gen out/Default --args="$(defines)" --fail-on-unused-args
	ninja -j$(njobs) -C out/Default chrome chrome_sandbox content_shell chromedriver

override_dh_auto_build-indep: out/Default/gn
	./out/Default/gn gen out/Default --args="$(defines)" --fail-on-unused-args
	ninja -j$(njobs) -C out/Default packed_resources

override_dh_prep:
	# building is done by this step; remove domain substitution
	if [ -e debian/scripts/ungoogled-chromium/domsubcache.tar.gz ]; then cd debian/scripts/ungoogled-chromium; python3 -m buildkit domains revert -c domsubcache.tar.gz ../../../; fi
	dh_prep

override_dh_auto_install-arch:
	cp out/Default/chrome out/Default/chromium
	cp out/Default/content_shell out/Default/chromium-shell
	cp out/Default/chrome_sandbox out/Default/chrome-sandbox
	cp out/Default/locales/en-US.pak out/Default/resources
	chmod 4755 out/Default/chrome-sandbox # suid sandbox
	sed -e s/@@PACKAGE@@/chromium/g -e s/@@MENUNAME@@/Chromium/g \
	    < chrome/app/resources/manpage.1.in > out/Default/chromium.1
	dh_auto_install
	# create /etc/chromium.d README file
	echo "Any files placed in this directory will be sourced prior to executing chromium." \
	    > debian/ungoogled-chromium/etc/chromium.d/README
	# update launcher script with build information
	sed 's|@BUILD_DIST@|$(shell printf "%s %s/%s" $(shell lsb_release -si) $(shell lsb_release -sc) $(shell lsb_release -sr))|' \
	    < debian/scripts/chromium > debian/ungoogled-chromium/usr/bin/chromium
	# move icons into /usr/share
	./debian/scripts/icons

override_dh_auto_install-indep:
	rm -f out/Default/locales/en-US.pak
	dh_auto_install

override_dh_fixperms:
	dh_fixperms --exclude chrome-sandbox

override_dh_strip:
	dh_strip --no-automatic-dbgsym # Do not build any debug packages

override_dh_gencontrol:
	dh_gencontrol -- -VBuilt-Using="$(shell dpkg-query -f '$${source:Package} (= $${source:Version}), ' -W libjs-jquery libjs-jquery-flot)"

override_dh_auto_clean:
	rm -rf out
	find . -name \*.pyc -execdir rm -f {} \;
	dh_auto_clean

###################### upstream source downloading ############################

url=https://gsdview.appspot.com/chromium-browser-official
version=$(shell dpkg-parsechangelog -S Version | sed s/-.*//)
extract=chromium-$(version)
tarfile=$(extract).tar
tarball=$(tarfile).xz
debvers=../ungoogled-chromium-browser_$(version)
origtxz=$(debvers).orig.tar.xz
removed=$(debvers).files-removed
seconds=$(debvers).seconds

get-orig-source:
	if [ ! -e debian/patches ]; then cd debian/scripts/ungoogled-chromium; python3 -m buildkit patches export -b config_bundles/$(config_bundle) ../../patches/; fi
	wget -nv --show-progress -c $(url)/$(tarball) -O ../$(tarball)
	cp /usr/bin/mk-origtargz debian/scripts
	patch -p1 < debian/scripts/mk-origtargz.patch
	date +%s > $(seconds)
	./debian/scripts/mk-origtargz ../$(tarball) > $(removed)
	echo $$(($$(date +%s) - $$(cat $(seconds)))) seconds
	test ! -e $(extract) || rm -rf $(extract)
	tar xf ../$(tarball)
	cd debian/scripts/ungoogled-chromium; python3 -m buildkit prune -b config_bundles/$(config_bundle) ../../../$(extract)
	echo $$(($$(date +%s) - $$(cat $(seconds)))) seconds
	while read line; do rm -rf $$line; done < $(removed)
	cd $(extract) && ../debian/scripts/check-upstream
	echo $$(($$(date +%s) - $$(cat $(seconds)))) seconds
	test ! -e $(origtxz) || rm -f $(origtxz)
	tar cf - $(extract) | xz -6 -T $(njobs) - > $(origtxz)
	echo $$(($$(date +%s) - $$(cat $(seconds)))) seconds
	rm -rf $(extract)
	echo $$(($$(date +%s) - $$(cat $(seconds)))) seconds | tee seconds
	@mv -f seconds $(seconds)
	find debian/scripts/ungoogled-chromium/ -name __pycache__ -type d -exec rm -r {} +

setup-local-src:
	mkdir ../download_cache || true
	cd debian/scripts/ungoogled-chromium; python3 -m buildkit downloads retrieve -b config_bundles/$(config_bundle) -c ../../../../download_cache
	cd debian/scripts/ungoogled-chromium; python3 -m buildkit downloads unpack -b config_bundles/$(config_bundle) -c ../../../../download_cache ../../../
	cd debian/scripts/ungoogled-chromium; python3 -m buildkit prune -b config_bundles/$(config_bundle) ../../../
	cd debian/scripts/ungoogled-chromium; python3 -m buildkit patches export -b config_bundles/$(config_bundle) ../../patches/; fi
