Source: ungoogled-chromium-browser
Section: web
Priority: optional
Maintainer: ungoogled-chromium Maintainers <github@null.invalid>
Vcs-Git: https://github.com/Eloston/ungoogled-chromium.git
Vcs-Browser: https://github.com/Eloston/ungoogled-chromium
Homepage: https://github.com/Eloston/ungoogled-chromium
Build-Depends:
 debhelper (>= 9),
 clang-7,
 lld-7,
 llvm-7-dev,
 python,
 python3,
 pkg-config,
 ninja-build,
 python-jinja2,
 ca-certificates,
 gsettings-desktop-schemas-dev,
 wget,
 flex,
 yasm,
 xvfb,
 wdiff,
 gperf,
 bison,
 valgrind,
 xz-utils,
 x11-apps,
 xfonts-base,
 libglew-dev,
 libgl1-mesa-dev,
 libglu1-mesa-dev,
 libegl1-mesa-dev,
 libgles2-mesa-dev,
 mesa-common-dev,
 libxt-dev,
 libre2-dev,
 libgbm-dev,
 libpng-dev,
 libxss-dev,
 libelf-dev,
 libpci-dev,
 libcap-dev,
 libdrm-dev,
 libicu-dev,
 libffi-dev,
 libkrb5-dev,
 libexif-dev,
 libudev-dev,
 libopus-dev,
 libwebp-dev,
 libxtst-dev,
 libsrtp-dev,
 libjpeg-dev,
 libxml2-dev,
 libgtk-3-dev,
 libxslt1-dev,
 liblcms2-dev,
 libpulse-dev,
 libpam0g-dev,
 libsnappy-dev,
 libavutil-dev,
 libavcodec-dev (>= 7),
 libavformat-dev,
 libglib2.0-dev,
 libasound2-dev,
 libjsoncpp-dev,
 libspeechd-dev,
 libminizip-dev,
 libhunspell-dev,
 libharfbuzz-dev,
 libusb-1.0-0-dev,
 libmodpbase64-dev,
 libnss3-dev (>= 3.12.3),
 libnspr4-dev (>= 2:4.9),
 libcups2-dev (>= 1.5.0),
 libevent-dev (>= 1.4.13),
 libgcrypt20-dev,
 fonts-ipafont-gothic,
 fonts-ipafont-mincho,
Standards-Version: 4.1.2

Package: ungoogled-chromium
Architecture: i386 amd64 arm64 armhf
Built-Using: ${Built-Using}
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
 ungoogled-chromium-common (= ${binary:Version}),
Recommends:
 ungoogled-chromium-sandbox,
Suggests:
 ungoogled-chromium-l10n,
 ungoogled-chromium-shell,
 ungoogled-chromium-driver,
Provides:
 www-browser,
Breaks:
 chromium-lwn4chrome (<= 1.0-2),
 chromium-tt-rss-notifier (<= 0.5.2-2),
 chromium,
 chromium-browser,
Conflicts:
 libnettle4,
 libsecret-1-0 (<< 0.18),
 libgl1-mesa-swx11,
Replaces:
 chromium,
 chromium-browser,
Description: web browser
 Web browser that aims to build a safer, faster, and more stable internet
 browsing experience.
 .
 This package contains the web browser component.

Package: ungoogled-chromium-l10n
Architecture: all
Section: localization
Depends:
 ${misc:Depends},
 ungoogled-chromium (>= ${source:Version}),
 ungoogled-chromium (<< ${source:Version}.1~),
Replaces:
 chromium-l10n,
Breaks:
 chromium-l10n,
Description: web browser - language packs
 Web browser that aims to build a safer, faster, and more stable internet
 browsing experience.
 .
 This package contains language packages for:
 am, ar, bg, bn, ca, cs, da, de, el, en-GB, es-419, es, et, fi, fil, fr, gu, he,
 hi, hr, hu, id, it, ja, kn, ko, lt, lv, ml, mr, nb, nl, pl, pt-BR, pt-PT,
 ro, ru, sk, sl, sr, sv, sw, ta, te, th, tr, uk, vi, zh-CN, zh-TW

Package: ungoogled-chromium-shell
Architecture: i386 amd64 arm64 armhf
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
 ungoogled-chromium-common (= ${binary:Version}),
Replaces:
 chromium-shell,
Breaks:
 chromium-shell,
Description: web browser - minimal shell
 Web browser that aims to build a safer, faster, and more stable internet
 browsing experience.
 .
 This package provides a minimal version of the chromium user interface
 (the content shell).

Package: ungoogled-chromium-driver
Architecture: i386 amd64 arm64 armhf
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
 ungoogled-chromium (= ${binary:Version}),
Replaces:
 chromedriver,
 chromium-driver,
Breaks:
 chromium-driver,
Description: web browser - WebDriver support
 Web browser that aims to build a safer, faster, and more stable internet
 browsing experience.
 .
 This package provides a bridge between the browser component and the selenium
 automatic webdriver.
 .
 See http://code.google.com/p/selenium/wiki/ChromeDriver for details.

Package: ungoogled-chromium-common
Architecture: i386 amd64 arm64 armhf
Depends:
 ${misc:Depends},
 x11-utils,
 xdg-utils,
Recommends:
 upower,
 libu2f-udev,
 libgl1-mesa-dri,
 ungoogled-chromium-sandbox,
 fonts-liberation,
 notification-daemon,
Breaks:
 ungoogled-chromium (<< 60.0.3112.72-1),
 chromium-common,
Replaces:
 ungoogled-chromium (<< 60.0.3112.72-1),
 chromium-common,
Description: web browser - common resources used by ungoogled-chromium packages
 Web browser that aims to build a safer, faster, and more stable internet
 browsing experience.
 .
 This package contains resources that are in common to different
 ungoogled-chromium packages.

Package: ungoogled-chromium-sandbox
Architecture: i386 amd64 arm64 armhf
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
Breaks:
 chromium (<< ${binary:Version}),
Replaces:
 chromium (<< ${binary:Version}),
Description: web browser - setuid security sandbox for ungoogled-chromium
 Web browser that aims to build a safer, faster, and more stable internet
 browsing experience.
 .
 This package contains the setuid chromium sandbox.
